body {
	background-color: yellow;
}

h1 {
	font-size: 40px;
	color: red;
	text-transform: uppercase;
	margin: 8px;
}

h2 {
	font-size: 28px;
	color: pink;
	margin: 8px;
}

p {
	font-size: 20px;
	color: white;
	padding: 25px 0;
	margin: 8px;
}

.container {
	width: 50%;
	border: solid 5px white;
	border-radius: 25px;
	max-width: 1200px;
	padding: 50px auto;
	background-color: green;
}